<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/GrowthQA-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/GrowthQA-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>グロースハックQ&A</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../assets/css/style.css" rel="stylesheet" />

    <script type="text/javascript" src="../assets/js/posts_get.js"></script>
    <script type="text/javascript" src="../assets/js/posts_post.js"></script>
    <script type="text/javascript" src="../assets/js/login.js"></script>

</head>
<body class="index-page sidebar-collapse">

    <!-- モーダルの設定 -->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title font-weight-bold mx-auto" id="exampleModalLabel">QUESTION</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="">
                <div class="modal-body d-block">
                    <label for="text" class="col-form-label font-weight-bold pb-3">メールアドレス</label> 
                    <div><input id="email" name="email" placeholder="コメントが来た際に通知を受け取る場合はemailを入力" class="input-title rounded" required="required" type="text" required></div>
                    <label for="text" class="col-form-label font-weight-bold pb-3">タイトル</label> 
                    <div><input id="title" name="title" placeholder="質問のタイトルを入力" class="input-title rounded" required="required" type="text" required></div>
                    <label for="textarea" class="col-form-label pt-4 pb-3 font-weight-bold">本文</label> 
                    <div><textarea id="text" name="text" type="text" placeholder="質問の本文を入力..." class="input-text rounded" cols="40" rows="7.5" required></textarea></div>
                </div>
                <div class="py-3">
                    <fieldset>
                        <input id="Marketer" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" checked="checked"/>
                        <label class="radio-inline__label" for="Marketer">Marketer</label>
                        <input id="PdM" class="radio-inline__input" type="radio" name="accessible-radio" value="item-2"/>
                        <label class="radio-inline__label" for="PdM">PdM</label>
                        <input id="Data Analyst" class="radio-inline__input" type="radio" name="accessible-radio" value="item-3"/>
                        <label class="radio-inline__label" for="Data Analyst">Analyst</label>
                    </fieldset>
                </div>
                <div class="pt-2 pb-5">
                    <button type="button" class="mx-auto btn-post btn btn-group-lg bg-growth btn-block text-white" data-toggle="modal" data-target="#modal1" onclick="posts_post_func();">投稿する</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <!-- /.modal -->

    <!-- Navbar -->
    <header>
    <nav class="navbar navbar-expand-lg bg-growth fixed-top" color-on-scroll="400">
    <div class="container">
        <div class="navbar-translate">
        <a class="navbar-brand" href="../index.html">
            Growth Conf.
        </a>
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar top-bar"></span>
            <span class="navbar-toggler-bar middle-bar"></span>
            <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="./home.html" onclick="scrollToDownload()">
                <i class="fas fa-home"></i>
                <p>Home</p>
            </a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link" href="../index.html">
                <i class="fas fa-align-center"></i>
                <p>About</p>
            </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/GrowthConf_" target="_blank">
                    <i class="fab fa-twitter"></i>
                    <p class="d-lg-none d-xl-none">Twitter</p>
                </a>
                </li>
                <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square"></i>
                    <p class="d-lg-none d-xl-none">Facebook</p>
                </a>
                </li>
                <!-- <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram"></i>
                    <p class="d-lg-none d-xl-none">Instagram</p>
                </a>
                </li> -->
            </a>
            </li>
        </ul>
        </div>
    </div>
    </nav>
    </header>

    <!--SPSidebar-->
    <div class="sp-sidebar">
        <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
        <div class="sidebaricon-row">
            <label for="openSidebarMenu" class="sidebarIconToggle">
                <i class="fas fa-angle-right sidebar-icon1"></i>
                <i class="fas fa-times sidebar-icon2"></i>
            </label>
        </div>
        <div id="sidebarMenu">
            <ul class="sidebarMenuInner">
            <li>カテゴリーから探す<span>Category</span></li>
            <li>
                <a class="nav-link active" href="./home.html">
                    <i class="fas fa-align-justify text-white pr-2"></i>
                    <p class="d-inline-block text-white font-weight-bold">All</p>
                </a>
            </li>
            <li>
                <a class="nav-link active" href="./home.html?category=PdM">
                    <i class="fas fa-chart-pie text-white pr-2"></i>
                    <p class="d-inline-block text-white font-weight-bold">PdM</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./home.html?category=Marketer">
                    <i class="fas fa-crosshairs text-white pr-2"></i>
                    <p class="d-inline-block text-white font-weight-bold">Marketer</p>
                </a>
            </li>
            <li>
                <a class="nav-link" href="./home.html?category=Data Analyst">
                    <i class="fas fa-chart-line text-white pr-2"></i>
                    <p class="d-inline-block text-white font-weight-bold">Analyst</p>
                </a>
            </li>
            </ul>
        </div>
    </div>

    
    <!-- End Navbar -->

    <section class="main_part">
        <div class="main container">
            
            <div class="row px-5">
                <div class="side-container col-xl-4 col-lg-4 col-md-4 col-sm-4 col-12 bg-white">
                    <div class="d-flex justify-content-center mt-5">
                        <button type="button" class="btn-post btn btn-group-lg bg-growth btn-block text-white" data-toggle="modal" data-target="#modal1">投稿する</button>
                    </div>
                    <div class="py-5 px-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="./home.html">
                                    <i class="fas fa-align-justify text-orange pr-2"></i>
                                    <p class="d-inline-block text-dark font-weight-bold">All</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="./home.html?category=PdM">
                                    <i class="fas fa-chart-pie text-orange pr-2"></i>
                                    <p class="d-inline-block text-dark font-weight-bold">PdM</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./home.html?category=Marketer">
                                    <i class="fas fa-crosshairs text-orange pr-2"></i>
                                    <p class="d-inline-block text-dark font-weight-bold">Marketer</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./home.html?category=Data Analyst">
                                    <i class="fas fa-chart-line text-orange pr-2"></i>
                                    <p class="d-inline-block text-dark font-weight-bold">Analyst</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-container col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 bg-white px-0">
                    <div class="jscroll">
                        <div class="card-list">
                            <div class="card mx-auto bg-white p-2 et_pb_module">
                                <h4 class="top-card-title pl-4 text-dark my-3"><span class="under-line">Questions</span></h4>
                            </div>

                            <div id="apost"></div>
                            <div id="card-list-home"></div>

                            <!--<div class="card mx-auto bg-white p-2 et_pb_module">
                                <a href="./comment.html" class="card-body secList">
                                    <h5 class="card-title px-4 text-dark">ユーザー数を２倍にしてください</h5>
                                    <p class="card-text px-4 text-dark">先日、上司からユーザー数を２倍にしろという無茶振りがありました。自分は、toC事業会社で働いています。どのように進めていけばいいかわかりません。教えていただける方に…</p>
                                </a>
                            </div>

                            <div class="card mx-auto bg-white p-2 et_pb_module">
                                <a href="./comment.html" class="card-body secList">
                                    <h5 class="card-title px-4 text-dark">ユーザー数を２倍にしてください</h5>
                                    <p class="card-text px-4 text-dark">先日、上司からユーザー数を２倍にしろという無茶振りがありました。自分は、toC事業会社で働いています。どのように進めていけばいいかわかりません。教えていただける方に…</p>
                                </a>
                            </div>-->
                        </div>
                        <!--<footer>
                            <a class="jscroll-next" href="./home2.html">loading...</a>
                        </footer>-->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--SPButton-->
    <div class="sp-button">
        <button type="button" class="btn btn-spbutton rounded-circle p-0 bg-growth text-white" data-toggle="modal" data-target="#modal1"><i class="fas fa-plus"></i></button>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
    <script type="text/javascript" src="../assets/js/home.js"></script>


</body>
</html>