
/*header*/
@media (max-width: 576px){
    .br-sp{
        display: block;
    }
}

@media (min-width: 576px){
    .br-sp{
        display: none;
    }
}

.banner_part {
    position: relative;
    background-image: url(../img/growthQnA_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 704px;
}

.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
}

.banner_part .banner_text h1 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 3.8rem;
    margin-bottom: 32px;
    color: black;
    display: inline-block;
}

.banner_part .banner_text h5 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: .5rem;
    color: black;
}

.banner_part .banner_text h4 {
    text-transform: capitalize;
    font-weight: 700;
    color: black;
}

.banner_part .banner_text p {
    font-size: 15px;
    line-height: 1.8;
    font-family: "Poppins", sans-serif;
    color: black;
    margin-bottom: 45px;
    padding-right: 60px;
    font-weight: 600;
}

.btn-start{
    width: 50%;
    font-size: 1rem;
    box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.5);
    margin-left: 1.5rem;
    border-radius: 2rem;
}


/*feature*/
.feature_part {
    padding: 8rem 0;
}

.feature-ontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.feature-container h2{
    color: black;
    font-weight: 700;
}

hr.divider {
    max-width: 4.5rem;
    border-width: 0.2rem;
    border-color: #ff3b62;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.feature-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.feature-content h3{
    font-weight: 600;
}

.feature-icon::before {
    font-size: 4em;
    color: #5A47D1;
}

/*使い方*/
#howto{
    background-image: url(../img/about-howto-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ten_discover_area {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.ten_d_text {
    text-align: center;
    padding-bottom: 60px;
}

.ten_discover_inner {
    margin-bottom: -50px;
    overflow: hidden;
}

.ten_d_text h2 {
    font-weight: 700;
    color: #fff;
    padding-bottom: 10px;
}

.ten_d_text p {
    font-size: 20px;
    color: #fff;
    font-family: "Heebo", sans-serif;
    font-weight: 500;
}


.ten_discover_inner .media {
    margin-bottom: 50px;
}

.ten_discover_inner .media .media-left {
    padding-right: 15px;
}

.ten_discover_inner .media .media-left .ten_d_icon {
    height: 63px;
    width: 63px;
    border: 4px solid #fff;
    border-radius: 50%;
    background: #5A47D1;
    text-align: center;
    line-height: 65px;
}

.ten_discover_inner .media .media-body h4 {
    font-size: 22px;
    font-family: "Heebo", sans-serif;
    font-weight: bold;
    color: #fff;
    padding-bottom: 22px;
    padding-top: 15px;
}

.ten_discover_inner .media .media-body p {
    font-size: 16px;
    line-height: 28px;
    color: #f5f5f5;
    font-family: "Heebo", sans-serif;
    font-weight: normal;
}

.ten_d_icon i{
    color: #fff;
    font-size: 30px;
}

/*news*/

#news {
    padding: 6.5rem 0 6.5rem 0;
}

#news h2{
    color: black;
    font-weight: 700;
}

.news-wrapper{
    text-align: center;

}

.news-wrapper p{
    color: black;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 2px dashed #5A47D1;
    display: inline-block;
}

.news-container{
    overflow-y: scroll;
    width: 80%;
    height: 8rem;
}

/*contact*/

#contact {
    padding: 89px 0 93px;
    color: #ffffff;
    background-image: url(../img/contact-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#contact .contact-form {
    margin-top: 92px;
}

.title-content {
    text-align: center;
}

.title-content p {
    margin-top: 34px;
}

#contact .section-title {
    color: #ffffff;
}

h2.section-title, .h2.section-title {
    font-weight: 600;
    text-transform: uppercase;
    color: #2c4755;
}

h2.section-title:after, .h2.section-title:after {
    display: block;
    content: '';
    width: 100%;
    height: 13px;
    background: url(../img/separator.svg) center center no-repeat;
    margin-top: 34px;
}

#contact .contact-form .row:last-of-type {
    margin-top: 30px;
}

#contact .contact-form .btn {
    display: block;
    margin: 53px auto 0;
    font-size: 13px;
    width: 170px;
    padding: 10px 0;
}

.btn-default.white-blue {
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.btn-default {
    padding: 9px 0;
    width: 150px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
}

#contact .contact-form input, #contact .contact-form textarea {
    display: block;
    width: 100%;
    font-weight: 300;
    padding: 18px 26px;
    color: #ffffff;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#contact .contact-form textarea {
    resize: none;
}

#Name::placeholder, #Email::placeholder, #Subject::placeholder, #Message::placeholder{
    color: #ffffff;
}

/*レスポンシブ*/

@media (max-width: 767px){
    /*スマートフォン*/
    .banner_part {
        background-image: url(../img/growthQnA_SPheader.png);
        margin-top: 37px;
        height: 100vh;
    }
    .banner_part .banner_text h5 {
        font-size: 1rem;
        color: white;
    }
    .banner_part .banner_text h1 {
        font-size: 2.2rem;
        margin-bottom: 16px;
        color: white;
    }
    .banner_part .banner_text h4 {
        color: white;
        font-size: 1.1rem;
    }
    .banner_part .banner_text p {
        font-size: .7rem;
        line-height: 1.8;
        color: white;
    }
    .btn-start {
        width: 70%;
        font-size: .9rem;
        box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.5);
        margin-left: .5rem;
        margin-top: 3rem!important;
        border-radius: 2rem;
    }
    .news-wrapper p{
        font-size: .8rem;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px){
    .banner_part .banner_text h1 {
        font-size: 37px;
        margin-bottom: 15px;
        line-height: 1.3;
    }
    .banner_part .banner_text h5 {
        font-size: 1.1rem;
    }
    .banner_part .banner_text h4 {
        font-size: 1.1rem;
    }
    .banner_part .banner_text p {
        padding-right: 38px;
        font-size: .8rem;
    }
    .btn-start{
        width: 70%;
        margin-left: 1.3rem;
    }
}

@media (max-width: 991px){
    .banner_part .banner_text p {
        margin-bottom: 10px;
    }
    .banner_part .banner_text {
        height: 650px;
    }
}

@media (min-width: 576px){
    .feature-container {
        max-width: 540px;
    }}

@media (min-width: 768px){
    .feature-container {
        max-width: 720px;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px){
    .feature-container {
    max-width: 960px;
    }
    .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
    }
}

@media (max-width: 767px){
    .col-md-4{
        padding-bottom: 1rem;
    }
}

@media (min-width: 1680px){
    .container {
        max-width: 1350px;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 1200px){
    .container {
        max-width: 1275px;
    }
}

@media only screen and (max-width: 1680px) and (min-width: 1540px){
    .banner_part .banner_text .banner_text_iner {
        padding-left: 3rem;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 1450px){
    .banner_part .banner_text .banner_text_iner {
        padding-left: 6.5rem;
    }
}

@media only screen and (max-width: 1450px) and (min-width: 1200px){
    .banner_part .banner_text .banner_text_iner {
        padding-left: 9rem;
    }
}

@media only screen and (max-width: 1540px) and (min-width: 991px){
    .banner_part .banner_text h1 {
        font-size: 2.8rem;
    }
}

