.mb-10{
    margin-bottom:6rem!important;
}


.btn-unlike{
    background-color: #a9a9a9!important;
}

.bg-growth{
    background-color: #5A47D1;
}

.text-growth{
    color: #5A47D1;
}

.bg-orange{
    background-color: #ff3b62;
}

.text-orange{
    color: #ff3b62;
    font-size: .9rem;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

h1 {
    font-size: 36px;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-family: "Aclonica", sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
    line-height: 29px;
    font-size: 15px;
    margin-bottom: 0px;
    color: #000;
    font-weight: 300;
}

.under-line {
    background: linear-gradient(transparent 85%, #ff3b62 85%);
}

#exampleModalLabel, #postModalLabel, #commentModalLabel {
    color: black;
}

.modal-header {
    padding: .8rem 1rem;
}

.modal-header .close {
    padding: 0rem 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body{
    padding: .6rem 1.5rem;
}

.share-sns{
    margin-top: .5rem;
    margin-right: .7rem;
}

/*main*/
.main_part{
    border-top: solid 0.1px #dcdcdc;
}

.side-container{
    height: 100%;
    position: sticky;
    top: 60px;
}

.side-menu{
    height: 25%;
}


.card{
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 0.1px #dcdcdc;
    border-left: solid 0.1px #dcdcdc;
    border-right: solid 0.1px #dcdcdc;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    width: 100%;
}


.card-top{
    font-weight: 700;
}

.card-body h5{
    font-weight: 700;
    font-size: 1rem;
}

.card-body p{
    font-size: .9rem;
    line-height: 22px;
}

.btn-post{
    width: 70%;
    font-size: 1rem;
    box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.5);
}

.btn-post:hover, .btn-post:hover, .btn-comment:hover, .btn-comment:active{
    background-color: rgba(90, 71, 209, 0.8);
    box-shadow: 1px 1px 1px 1px rgba(71, 135, 209, 0.5);
}
.btn-post:focus,.btn-comment:focus{
    box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.5);
}

.btn-comment{
    width: 300px;
    font-size: 1rem;
    box-shadow: 1.5px 3px 5px 3px rgba(71, 135, 209, 0.8);
}

.btn-like{
    width: 80px;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.btn-like:hover, .btn-like:active{
    background-color: rgba(209, 87, 71, 0.5);
    box-shadow: 0px rgba(209, 87, 71, 0.5);
}

.btn-like:focus{
    background-color: #ff3b62;
    outline: none;
}

.btn-sns{
    font-size: .8rem;
    margin-bottom: .5rem;
}

.btn-sns:hover, .btn-sns:active{
    background-color: rgba(209, 87, 71, 0.5);
    box-shadow: 0px rgba(209, 87, 71, 0.5);
}

.btn-sns:focus{
    background-color: #5A47D1;
    outline: none;
}

.btn-sns-none{
    background-color: #a9a9a9!important;
}

.btn-sns-none:focus, .btn-sns-none:hover, .btn-sns-none:active{
    background-color:#a9a9a9;
    outline: none;
}

.like-count{
    padding: 4.2px 13px 8px 8px;
}

.pagination .page-item .page-link{
    color: #5A47D1;
}

.pagination .page-item.active>.page-link, .pagination .page-item.active>.page-link:focus, .pagination .page-item.active>.page-link:hover {
    background-color: #5A47D1;
    border-color: #888888;
    color: #FFFFFF;
    z-index: 0;
}

.input-title{
    width: 100%;
    border: none;
    background-color: #f5f5f5;
    height: 2.3rem;
}

#email::placeholder, #title::placeholder, #nickname::placeholder, #snslink::placeholder{
    padding-left: .5rem;
    padding-bottom: .5rem;
}

#text::placeholder, #commenttitle::placeholder, #commenttext::placeholder{
    padding-left: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.input-text{
    width: 100%;
    border: none;
    background-color: #f5f5f5;
}

.modal .modal-header .close {
    color: #5A47D1;
    text-shadow: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    transition: all .2s;
}

.radio-inline__input:checked + .radio-inline__label {
    background: #5A47D1;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-style: none;
}

.modal-content .modal-header button {
    position: absolute;
    right: 27px;
    top: 30px;
    outline: 0;
}

.fa-comment{
    font-size: 1.2rem;
}

.fa-share{
    font-size: 1.4rem;
}

.fa-chevron-left{
    font-size: 1.25rem;
}

.tabContents {
    display: none;
}

.tabContents.active {
    display: block;
}

.comment-button{
    position: sticky;
    bottom: 50px;
}

.top-card-title{
    font-weight: 700;
    display: inline-block;
}

/*ナビ*/
.navbar {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    min-height: 53px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
}
.navbar .navbar-brand {
    font-size: 0.8571em;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1.625rem;
}

.navbar a {
    vertical-align: middle;
}
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar .navbar-toggler {
    width: 37px;
    height: 27px;
    outline: 0;
    cursor: pointer;
}

.navbar .navbar-nav .nav-link:not(.btn) {
    text-transform: uppercase;
    font-size: 0.7142em;
    padding: 0.5rem 0.7rem;
    line-height: 1.625rem;
}

.navbar a:not(.btn):not(.dropdown-item) {
    color: #FFFFFF;
    font-size: 1.2rem;
}

.navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
    top: 4px;
    font-size: 16px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fab, .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;
}

.navbar .navbar-nav .nav-link:not(.btn) i.fab, .navbar .navbar-nav .nav-link:not(.btn) i.now-ui-icons {
    font-size: 18px;
    position: relative;
    top: 3px;
    text-align: center;
    width: 21px;
}

.navbar p {
    display: inline-block;
    margin: 0;
    line-height: 21px;
    font-weight: inherit;
    font-size: inherit;
}


/*sidebar*/
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 271px;
    margin-top: 60px;
    transform: translateX(-280px);
    transition: transform 250ms ease-in-out;
    background-color: #5a47d1;
    z-index: 1;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebaricon-row{
    z-index: 99;
    position: fixed;
    bottom: 20px;
    left: -1px;
    width: 50px;
    height: 50px;
    background-color: #5A47D1;
    text-align: center;
}

.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 0;
}

.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}

/*SPbutton*/
.sp-button{
    position: fixed;
    bottom: 20px;
    right: 15px;
    width: 80%;
}

.btn-spbutton{
    width: 3.3rem;
    height: 3.3rem;
    float: right;
}

.fa-plus{
    font-size: 1.8rem;
    padding-top: 3px;
}

.contact-info{
    margin-top: 2rem;
    text-align: center;
}
.contact-info p{
    font-size: 1.2rem;
}

.sidebar-icon1, .sidebar-icon2{
    padding-top: 9px;
}

.fb-share-button span{
    vertical-align: baseline!important;
}


/*TOP-Section*/
.page-top-section {
    position: relative;
    height: 405px;
    background: #5A47D1;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background-image: url(../img/overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-top-section .container {
    position: relative;
    z-index: 5;
}

.page-top-section .page-info {
    display: inline-block;
    padding-top: 200px;
}

.page-top-section .page-info h2 {
    color: #fff;
    font-weight: 400;
    margin-bottom: 15px;
    float: left;
    font-size: 36px;
    padding: 0;
    margin: 0;
}

.page-top-section .page-info .page-links a, .page-top-section .page-info .page-links span {
    font-size: 18px;
    font-family: oswald,sans-serif;
    color: #fff;
    margin-right: 12px;
    padding-right: 12px;
    font-weight: 400;
    position: relative;
}

.page-top-section .page-info .page-links span {
    margin-right: 0;
    padding-right: 0;
    color: #2be6ab;
}

.page-top-section .page-info .page-links a, .page-top-section .page-info .page-links span {
    font-size: 18px;
    font-family: oswald,sans-serif;
    color: #fff;
    margin-right: 12px;
    padding-right: 12px;
    font-weight: 400;
    position: relative;
}

/*レスポンシブ*/

@media (max-width: 576px){
    .sp-sidebar{
        display: block;
    }
    .side-container {
        display: none;
    }
    .sp-button{
        display: block;
    }
    .comment-button{
        display: none;
    }
    .row{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (min-width: 576px){
    .sp-sidebar{
        display: none;
    }
    .side-container {
        display: block;
    }
    .sp-button{
        display: none;
    }
    .comment-button{
        display: block;
    }
}

@media screen and (min-width:576px) and ( max-width:768px) {
    .main_part .container {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 768.1px){
    .px-5-pc{
        padding-left: 3rem!important;
        padding-right: 3rem!important;
    }
}

@media screen and (min-width: 992px){
    .navbar-collapse:not(.has-image) {
        background: transparent !important;
    }
    }
    @media screen and (min-width: 992px){
        .navbar-nav .nav-item:not(:last-child) {
            margin-right: 10px;
        }
    }

@media screen and (max-width: 991px){
.sidebar-collapse .navbar .navbar-toggler-bar {
    display: block;
    position: relative;
    width: 22px;
    height: 1px;
    border-radius: 1px;
    background: #FFFFFF;
}}

@media screen and (max-width: 991px){
.sidebar-collapse .top-bar, .sidebar-collapse .middle-bar, .sidebar-collapse .bottom-bar {
    transition: all 0.2s;
}}

@media screen and (max-width: 991px){
.sidebar-collapse .top-bar {
    transform: rotate(0);
}}

@media screen and (max-width: 576px){
.navbar[class*='navbar-expand-'] .container {
    margin-left: 0;
    margin-right: 0;
}}

@media screen and (max-width: 991px){
.sidebar-collapse .navbar .navbar-translate {
    width: 100%;
    position: relative;
    display: flex;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate3d(0px, 0, 0);
    -moz-transform: translate3d(0px, 0, 0);
    -o-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
}

@media screen and (max-width: 991px){
.sidebar-collapse .navbar .navbar-toggler-bar+.navbar-toggler-bar {
    margin-top: 7px;
}

.navbar .navbar-toggler .navbar-toggler-bar.middle-bar {
    width: 17px;
    transition: width .2s linear;
}
}

@media screen and (max-width: 991px){
.sidebar-collapse .navbar .navbar-toggler-bar+.navbar-toggler-bar {
    margin-top: 7px;
}}